.main-loader-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff9900;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 4s ease-in-out infinite;
}
.loader::after {
  animation-delay: 2s;
}

@keyframes animloader {
  0%, 100% {
    transform: scale(0);
    opacity: 2;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
}
