.paginate{
  display: flex;
  margin-top: 5px;
 
}

.paginate-text{
  font: 14px/1.2 Helvetica , sans-serif;
  color: #061624;
  letter-spacing: 0px;
  padding-top: 8px;
  padding-left: 18px;
}

.paginate-btns{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  .MuiInputBase-root{

  }
}

.paginate-btns ul{
  text-decoration: none !important;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.paginate-btns li{
  margin: 0px;
  display: flex !important;
  flex-direction: column;
}

.paginate-btns li a{
  text-decoration: none !important;

  border: 1px solid #DEE2E7;
  border-radius: 0px;
  height: 40px;
  min-width: 40px !important;

  text-align: center;
  background-color: #fff;
  font: 14px/1.2 Helvetica , sans-serif ;
  color: #1C1C1CEE;
  letter-spacing: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
}

.paginate-btns a{
  text-decoration: none;
}


.paginate-btns li:not(.invf-nav-arrow) a:hover{
  border: 1px solid #ff6600;
  color: #ff6600;
  cursor: pointer;
}
.paginate-btns li.active a{
  background: rgba(255, 121, 0, 0.52);
  border: 1px solid #ff7900;
  cursor: pointer;
  color: #fff;
}


.paginate-btns .invf-nav-arrow a{
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  :first-child{
    border-radius: 8px 0px 0px 8px;
  }
  :last-child{
    border-radius:  0px 8px 8px 0px;
  }
}

.paginate-btns .invf-nav-arrow.prev a{
  border-radius: 8px 0px 0px 8px;
}
.paginate-btns .invf-nav-arrow.next a{
  border-radius:  0px 8px 8px 0px;
}


.paginate-btns .invf-nav-arrow:not(.disabled) a:hover{
  border: 1px solid #ff6600;
  color: #ff6600;
}

.paginate-btns .disabled a{
  cursor:default;
  background-color: #fff;
  color: rgba(254, 137, 33, 0.51);
}


